<footer class="main-footer">
  
    <div class="accordion">
      <!-- Section 1 -->
      <div class="accordion-item">
        <label class="accordion-header" for="section1">Shopping</label>
        <input type="checkbox" id="section1">
        <div class="accordion-content">
          <a href="">
            <p>Vinterjackor</p>
          </a>
          <a href="">
            <p>Pufferjackor</p>
          </a>
          <a href="">
            <p>Kappa</p>
          </a>
          <a href="">
            <p>Trenchcoats</p>
          </a>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="accordion-item">
        <label class="accordion-header" for="section2">Mina sidor</label>
        <input type="checkbox" id="section2">
        <div class="accordion-content">
          <a href="">
            <p>Mina ordrar</p>
          </a>
          <a href="">
            <p>Mitt konto</p>
          </a>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="accordion-item">
        <label class="accordion-header" for="section3">Kundtjänst</label>
        <input type="checkbox" id="section3">
        <div class="accordion-content">
          <a href="">
            <p>Här är det lite tomt</p>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-list">
        <div class="firstlist">
      <nav>
        <ul>
          <li><a href="">Shopping</a></li>
          <li><a href="">Vinterjackor</a></li>
          <li><a href="">Pufferjackor</a></li>
          <li><a href="">Kappa</a></li>
          <li><a href="">Trenchcoats</a></li>
        </ul>
      </nav>
    </div>
      <div class="secondlist">
      <nav>
        <ul>
          <li><a href="">Mina Sidor</a></li>
          <li><a href="">Mina Ordrar</a></li>
          <li><a href="">Mitt Konto</a></li>
        </ul>
      </nav>
    </div>
    </div>

    <p class="copyright">&copy; Freaky Fashion 2025</p>




  </footer>