<div class="hero-box">
  <div class="hero-content">
    <img src="<%= heroImage %>" alt="hero" style="max-width: 60%; height: auto;">
  </div>
</div>
        <section>
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perferendis at nam. Nulla quasi, optio suscipit
            earum similique, dolor perferendis, iste illum cum accusamus quos culpa sed possimus deleniti fugit. lorem</p>
        </section>
   