      <div class="main-list">
        <nav>
          <ul>
            <li><a href="">Nyheter</a></li>
            <li><a href="">Topplistan</a></li>
            <li><a href="">Rea</a></li>
            <li><a href="">Kampanjer</a></li>
          </ul>
        </nav>
      </div>