      <div class="hero-box">
        <div class="hero-content">
          <img src="https://placehold.co/600x400.png" alt="hero">
          <span class="overlay-heart2"><i class="far fa-heart"></i></span>
        </div>
        <section>
          <h2>Svart T-Shirt</h2>
          <p class="levisGray">Levis</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perferendis at nam. Nulla quasi, optio suscipit
            earum similique, dolor perferendis, iste illum cum accusamus quos culpa sed possimus deleniti fugit. lorem</p>
          <h3>199 SEK</h3> 
          <div class="add-to-cart-container">
            <button class="add-to-cart-btn">Lägg till i varukorg</button>
          </div>
        </section>
      </div>

      