      <div class="product-box">
        <h1 class="heading-text">Liknande produkter</h1> 
        <div class="product-content">
          <div>
            <img src="https://placehold.co/400x600.png" alt="product1">
            <div class="upper-text">
              <h4>Svart T-Shirt</h4>
              <h4>199 SEK</h4>
            </div>
            <p class="bottom-text">Levis</p>
          </div>
          <div>
            <img src="https://placehold.co/400x600.png" alt="product2">
            <div class="upper-text">
              <h4>Svart T-Shirt</h4>
              <h4>199 SEK</h4>
            </div>
            <p class="bottom-text">Levis</p>
          </div>
          <div>
            <img src="https://placehold.co/400x600.png" alt="product3">
            <div class="upper-text">
              <h4>Svart T-Shirt</h4>
              <h4>199 SEK</h4>
            </div>
            <p class="bottom-text">Levis</p>
          </div>
        </div>
      </div>