      <div class="spot-box">
        <div class="spot-container"> 
          <img src="https://placehold.co/600x400.png" alt="spot1">
          <div>
            <h3>Lorem ipsum dolor</h3>
          </div>
      </div>
      <div class="spot-container"> 
        <img src="https://placehold.co/600x400.png" alt="spot2">
        <div>
          <h3>Lorem ipsum dolor</h3>
        </div>
    </div>
    <div class="spot-container"> 
      <img src="https://placehold.co/600x400.png" alt="spot3">
      <div>
        <h3>Lorem ipsum dolor</h3>
      </div>
  </div>
    </div>

 