     <div class="under-icons">
        <a href=""><i class="fa-solid fa-earth-americas"></i>Gratis frakt och returer</a>
        <a href=""><i class="fa-solid fa-plane"></i>Expressfrakt</a>
        <a href=""><i class="fa-solid fa-shield-halved"></i>Säkra betalningar</a>
        <a href=""><i class="fa-regular fa-face-smile"></i>Nyheter varje dag</a>
      </div>
  