<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/admin-styles.css' />
    <script src="https://kit.fontawesome.com/9bc0025a3d.js" crossorigin="anonymous"></script>

    <title>Administration</title>
</head>
<body>


    <header> 
        <main>    
        <%- include ('partials/admins-headerandMain') %>
        </main>
    </header>
    


    <footer>
        <%- include ('partials/admins-footer') %>
    </footer>

</body>
</html>